# For Laravel Application (app service)
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=laravel
DB_USERNAME=user
DB_PASSWORD=password

# For PostgreSQL (db service)
POSTGRES_DB=laravel
POSTGRES_USER=user
POSTGRES_PASSWORD=password
